.cart {
    text-align: left;

    &__summary {
        margin: 0;
        padding: 20px;
        background-color: #337ab7;
        color: white;
        font-weight: bold;
        font-size: 25px;

        div {
            text-align: right;
        }
    }
}